body {
    background-color:white
}


img {
    height: 200px;
    width: 175px;
}

#row1, #row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.center {
    margin:0 auto;
    text-align: center;
}

#top {
   display: flex;
   flex-direction: column;
   flex-basis: 100%;
   flex: 2;
   background-color: rgb(156, 192, 156);
   align-content: center;
}

#left, #right {
    display: flex;
   flex-direction: column;
   flex-basis: 100%;
   flex: 1;
}